<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>16926131426-hud97iecoo1ucsp1ru574dbu7nlp2b8e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.16926131426-hud97iecoo1ucsp1ru574dbu7nlp2b8e</string>
	<key>API_KEY</key>
	<string>AIzaSyAEdJChC1DgExHbrhtJmPl0BdifYmt4ZJQ</string>
	<key>GCM_SENDER_ID</key>
	<string>16926131426</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.icdt.CodingCafe</string>
	<key>PROJECT_ID</key>
	<string>codingcafe-61b01</string>
	<key>STORAGE_BUCKET</key>
	<string>codingcafe-61b01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:16926131426:ios:b098d52b57af1aac</string>
	<key>DATABASE_URL</key>
	<string>https://codingcafe-61b01.firebaseio.com</string>
</dict>
</plist>